*.DS_Store
*.coverage
*.pyc
parser/parser/my-languages.so
my-languages.so
.idea/
venv/

null.py
retrain.txt
run.txt

#CODA/AuthorshipAttribution/
#CODA/CloneDetection/
#CODA/DefectPrediction/
#CODA/FunctionalityClassification/
#CODA/VulnerabilityPrediction/

./__pycache__/
./AuthorshipAttribution/code/__pycache__/
./CloneDetection/code/__pycache__/
./DefectPrediction/code/__pycache__/
./FunctionalityClassification/code/__pycache__/
./VulnerabilityPrediction/code/__pycache__/

./AuthorshipAttribution/dataset/__pycache__/
./CloneDetection/dataset/__pycache__/
./DefectPrediction/dataset/__pycache__/
./FunctionalityClassification/dataset/__pycache__/
./VulnerabilityPrediction/dataset/__pycache__/